services:
  ecfr:
    build:
      context: .
      dockerfile: ecfrInsights/Dockerfile
    ports:
      - 8080:8080
      - 8443:8443
    extra_hosts:
    - "host.docker.internal:host-gateway"
    environment:
      - DOTNET_SYSTEM_GLOBALIZATION_INVARIANT=1
      - ASPNETCORE_ENVIRONMENT=Release
      - ASPNETCORE_Kestrel__Certificates__Default__Path=/https/ecfrInsights.pfx
      - ASPNETCORE_Kestrel__Certificates__Default__Password=${CertificatePassword}
    volumes:
      - ecfr:/usr/share/ecfrcontainer/data   

volumes:
  ecfr: 
    driver: local  